<%= turbo_frame_tag(dom_id(comment)) do %>
    <p>
        <em> [<%= comment.id%>] </em>
        <strong> <%= comment.user.email.split('@').first.capitalize %> </strong>
    </p>  
    <p><%= comment.body %></p>  
<%end%>